{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}

{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}

<img src="../assets/img/images.jpg" alt="Burger Face">

<h1>Come on in and have a burger!</h1>

<div class="container">
	<div class="row">
		<div class="col-md-6">		
			<div id="eatDiv">
				<h2>Eat These Burgers!</h2>
				
				<ul>
				  {{#each burgers}}
				    {{#unless this.devoured}}
				      <li>
				      	{{this.id}}
				        {{this.burger_name}}
				        <form action="/{{this.id}}?_method=PUT" method="POST">
				          <input type="hidden" name="devoured" value="true">
				          <button type="submit" class="btn btn-outline-secondary btn-sm">Devour this Burger!</button>
				        </form>
				      </li>
				       <br>
				    {{/unless}}
				  {{/each}}
				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<div id="devouredDiv">
				<h2>Devoured Burgers</h2>

				<ul>
				  {{#each burgers}}
				    {{#if this.devoured}}
				      <li>
				      	{{this.id}}
				        {{this.burger_name}}
				      </li>
				    {{/if}}
				  {{/each}}
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="container" id="formButton">
				<form action="/create" method="POST">
					<div class="form-group">
					    <label for="exampleTextarea">Enter a burger you want to eat and click the "Submit" button.</label>
					    <textarea class="form-control" rows="2" name="burger_name"></textarea>
				  	</div>
				  	  
			  	  	<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>

</div>




